.tabbed {
	margin: 15px 0;
}

.tabbed .nav {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tabbed .nav button {
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
	background: transparent;
}

.tabbed .nav button.active {
	background: #ccc;
}

.tabbed .tabs .tab {
	background: #FFF;
	display: none;
	padding: 0px;
	border: 1px solid #ccc;
	border-top: none;
}

.tabbed .tabs .tab.active {
	display: block;
}

.codeblock {
    position: relative;
}

.copy {
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    border: solid 1px;
    color: #9E9E9E;
    cursor: pointer;
    font-size: 14px;
    padding: 6px;
    border-radius: 3px;
    z-index: 10;
}

.copied {
    position: absolute;
    font-size: 14px;
    color: #000;
    top: 10px;
    right: 48px;
    visibility: hidden;
    padding: 0px 10px;
    transition: 0.2s;
}

.copied:before {
    	position: absolute;
	display: block;
	content: '';
	top: 10px;
	right: -3px;
	width: 10px;
	height: 10px;
	background: #52534e;
	transform: rotate(45deg);
}

.copied.visible {
    visibility: visible;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 3px;
}

pre {
	margin: 0;
	width: 100%;
	padding: 1em;
	white-space: pre-wrap;
	background-color: #272822;
	color: #FFF;
	border-radius: 0px;
	font-size: 14px;
	font-family: consolas, menlo, courier, monospace;
}

pre .str, code .str { color: #e6db5a; } /* string */
pre .kwd, code .kwd { color: #66d9ef; } /* keyword */
pre .com, code .com { color: #75715e; font-style: italic; } /* comment */
pre .typ, code .typ { color: #66d9ef; } /* type */
pre .lit, code .lit { color: #ae81ff; } /* literal */
pre .pun, code .pun { color: #fff; } /* punctuation */
pre .pln, code .pln { color: #fff; } /* plaintext */
pre .tag, code .tag { color: #f92672; } /* html/xml tag */
pre .atn, code .atn { color: #a6e22a; } /* html/xml attribute name */
pre .atv, code .atv { color: #e6db74; } /* html/xml attribute value */
pre .dec, code .dec { color: #ae81ff; } /* decimal */

pre.prettyprint, code.prettyprint {
	background-color: #272822;
	border-radius: 0px;
	font-family: consolas, menlo, courier, monospace;
}

pre.prettyprint {
	width: 100%;
	padding: 1em;
	white-space: pre-wrap;
	direction: ltr;
}

pre.prettyprinted {
	border:1px solid #0b0c0a;
}

ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
	color: #75715e;
	list-style: decimal inside !important;
	padding-left: 10px;
}

ol.linenums span {
	font-family: Menlo,Bitstream Vera Sans Mono,DejaVu Sans Mono,Monaco,Consolas,monospace;
	font-size: 13.8px;
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
	background: transparent;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
	list-style-type: decimal !important;
}

@media print {
	pre.prettyprinted, pre.prettyprint, code.prettyprint {
		background-color:#fff;
		color:#000;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		-o-border-radius:0;
		-ms-border-radius:0;
		-khtml-border-radius:0;
		border-radius:0;
	}

	pre .str, code .str { color: #060; }
	pre .kwd, code .kwd { color: #006; font-weight: bold; }
	pre .com, code .com { color: #600; font-style: italic; }
	pre .typ, code .typ { color: #404; font-weight: bold; }
	pre .lit, code .lit { color: #044; }
	pre .pun, code .pun { color: #440; }
	pre .pln, code .pln { color: #000; }
	pre .tag, code .tag { color: #006; font-weight: bold; }
	pre .atn, code .atn { color: #404; }
	pre .atv, code .atv { color: #060; }
}
