/* Normal */
@font-face {
  font-family: 'Swissra';
  font-style: normal;
  font-weight: 300;
  src: url('https://raw.githack.com/bilalbentoumi/MyFiles/master/fonts/Swissra/Swissra/Swissra-Light.ttf');
}

@font-face {
  font-family: 'Swissra';
  font-style: normal;
  font-weight: 400;
  src: url('https://raw.githack.com/bilalbentoumi/MyFiles/master/fonts/Swissra/Swissra/Swissra-Normal.ttf');
}

@font-face {
  font-family: 'Swissra';
  font-style: normal;
  font-weight: 500;
  src: url('https://raw.githack.com/bilalbentoumi/MyFiles/master/fonts/Swissra/Swissra/Swissra-Medium.ttf');
}

@font-face {
  font-family: 'Swissra';
  font-style: normal;
  font-weight: 700;
  src: url('https://raw.githack.com/bilalbentoumi/MyFiles/master/fonts/Swissra/Swissra/Swissra-Bold.ttf?raw=true');
}
